<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
              .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>Hello, Vue!</h1>
<div id="app">
    <div v-if="showBooks">
    <!-- created through data -->
    <p>{{title}} - {{author}} - {{age}} years old</p>
    <!-- v-on is a directive, directly increment age-->
    <!-- <button v-on: click="age++">Increase Age</button> -->
    <button @click="age++">Increase Age</button>
    <button v-on:click="age--">Decrease Age</button>
    <button @click="changeTitle('Oathbringer')">Change book title to 'Oathbringer'</button>

</div>
<!-- <button @click="toggleShowBooks"><span v-if="showBooks">Hide Books</span>
    <span v-if="!showBooks">Show Books</span></button> -->
    <button @click="toggleShowBooks"><span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span></button>
        <!-- v-show uses CSS display: none item is still in DOM -->
        <br>
<div v-show="showBooks">Currently showing books</div>

<div class="box" @mouseover="handleEvent($event,5)">Mouseover</div>
<div class="box" @mouseleave="handleEvent">Mouseleave</div>
<div class="box" @dblclick="handleDoubleClick">{{eventName}}</div>    
<div class="box" @mousemove="handleMousemove">Position - {{x}} {{y}}</div>
</div>
    <script src="./app.js" type='module'></script>
</body>
</html>